{% extends 'main.html' %}
{% block contenu %}
<br>
 <div class="row">
    <div class="cold-md-5">
    <h5>Patient:</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary" btn-sm btn-block href="{% url 'add' %}">Ajouter un Patient</a>
        <table class="table table-sm">
            <tr>
                   <th>ID</th>
                   <th>Nom</th>
                   <th>Prenom</th> 
                   <th>telephone</th>
                   <th>Age</th>
                   <th>Sexe</th>
                  <th>Adresse</th>
     </tr>
                {% for patient in patients %}
               <tr>
                <th> {{patient.id}}</th> 
                  <th> {{patient.nom}} </th>
                 <th> {{patient.prenom}} </th> 
                 <th> {{patient.telephone}} </th>
                 <th> {{patient.age}} </th>
                 <th> {{patient.sexe}} </th>
                 <th> {{patient.adresse}} </th>
            </tr>
                {% endfor %}

        </table>
    </div>
</div> 
</form>
</div>
{% endblock %}