{% extends 'main.html' %}
{% block contenu %}
<div>
<h4><a href="{% url 'add' %}">Ajouter Rendez-Vous</a></h4>
<div class="panel-body">
    <!-- <form class="col-sm-6"> -->
        <form action="insert" method="POST" class="col-sm-6">
            {% csrf_token %}
         
        
          <div class="form-group">
              <label>{{patient.id}}</label>
              <input type="text" class="form-control" placeholder="Entrer le Patient" required>
          </div>
         <!--  <div class="form-group">
            <label>nom</label>
            <input type="text" class="form-control" placeholder="Entrer le Patient" required>
        </div> -->
                 
    <div class="form-group">
      <label>Date Rendez-Vous</label>
      <input type="date" class="form-control" name="date_rdv" placeholder="date Rendez-Vous" required>
  </div> 
  <div class="form-group">
    <label>Soins</label>
    <input type="text" name="soins" class="form-control" placeholder="Soins" required>
</div>
  <div class="reset-button">
   <a href="#" class="btn btn-warning">Retour</a>
   <a href="" class="btn btn-success">Enregistrer</a>
</div>
</form>
</div>
{% endblock %}