{% extends 'main.html' %}
{% block contenu %}
<div>

<!-- Adjust title between insertion and modification -->
{% if rdv %}
<!-- Why the href to the current page? -->
<h4><a href="#">Modifier Rendez-Vous</a></h4>
{% else %}
<h4><a href="#">Ajouter Rendez-Vous</a></h4>
{% endif %}

<div class="panel-body">
    <!-- <form class="col-sm-6"> -->
    <!-- form action should be a valid url name -->
        <form action="{% url 'insert_rdv' %}" method="POST" class="col-sm-6">
          {% csrf_token %}
         <input type="hidden" name="rdv_pk" id="rdv_pk" required maxlength="20" value="{{rdv.id}}">
          <div class="form-group">
              <label>Patient</label><br>
              <select name="patient_pk" id="" style="width: 100%; height: 20%;">
                {% for patient in patients  %}
                <!--Make sure to display the currently selected patient-->
                <option value="{{patient.id}}"
                        {% if patient == rdv.patient %}selected="selected"{% endif %}>
                  {{patient.prenom}} {{patient.nom}}
                </option>
              {% endfor %}
            </select>
          </div>
    <div class="form-group">
      <label>Date Rendez-Vous</label>
      <!-- choose the right format for the date -->
      <input type="date" value={{rdv.date_rdv |date:'Y-m-d H:i'}} class="form-control" name="date_rdv" placeholder="date Rendez-Vous" required>
  </div>
  <div class="form-group">
    <label>Soins</label>
    <input type="text" value="{{rdv.soins}}" name="soins" class="form-control" placeholder="Soins" required>
</div>
  <div class="reset-button">
   <a href="#" class="btn btn-warning">Retour</a>
   <button type="submit" class="btn btn-success"> Enregistrer</button>
</div>
</form>
</div>
{% endblock %}
