{% extends 'main.html' %}
{% block contenu %}
<br>
<div class="cold-md-7">
     
    <div class="card card-body">
        <a class="btn btn-primary" btn-sm btn-block href="">Liste des Rendez-Vous </a>
        <hr>
        <table class="table table-sm">
             <tr>
                   <th>Patient</th>
                   <th>Date </th>
                   <th>Soins </th>
                   <th>Mise à Jour</th>
                   <th>Supprimer</th>
            </tr>
             {% for rdv in rdv %}
              <tr>
                 <th>{{rdv.patient}}</th>
                    <th>{{rdv.date_rdv}}</th>
                    <th>{{rdv.soins}}</th>
                   <th><a class="btn btn-sm btn-success" href=""> Modifier</a> </th>
                   <th><a class="btn btn-sm btn-danger" href=""> Supprimer</a> </th>
            </tr>
                {% endfor %}
         </table>
</div>
</div>
{% endblock %}